.card{
  border: none  !important;
}

.line {
  background-color: blue;
  height: 2px;
 
  width:28px;
  margin-right:10px;
display:inline-block
}

.menu-items{
  margin-top:-10px;
}

.main-font-size{
  font-size:13px;
}




.side-font{
  font-size:10px;
}